body {
    font-family: Verdana;
    background-color: #cce1f4;
}

.main-title {
    margin: 1.2em;
    font-size: 1.5em;
}

.sub-main-title {
    margin: 1.2em;
    margin-left: 2em;
    font-size: 1em;
}

.resource-div {
    margin: 2.5em;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
}

.resource-title {
    font-size: 1.2em;
    margin-top: 0px;
}

.method-div {
    margin: 2em;
    background-color: #e4ebf2;
    border-radius: 20px;
    padding: 20px;
}

.method-title {
    font-size: 1em;
}

.method-desc {
    font-size: 0.8em;
    margin: 1.2em;
}